<div class="container main-container animated fadeIn fast" *ngIf="pelicula">

    <h1> {{pelicula.original_title}} </h1>

    <div class="row">
        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen:true" 
                 [alt]="pelicula.original_title"
                 class="img-thumbnail img-fluid">
        </div>

        <div class="col-md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify"> {{pelicula.overview}} </p>
            <h4>Frase celebre:</h4>
            <p> {{pelicula.tagline}} </p>
            <p> Popularidad: <span class="badge badge-primary">{{pelicula.popularity | number:'.0-0'}}/10</span>
            <br>
                Voto promedio: <span class="badge badge-success">{{pelicula.vote_average}} </span>
            </p>

            <button class="btn btn-outline-danger" [routerLink]="['/'+regresarA, busqueda ]">
                Regresar
            </button>
        </div>
    </div>



</div>