<div class="container main-container">


  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar</label>
        <input (keyup.enter)="buscarPelicula()" class="form-control" placeholder="Buscar una película..." type="text" [(ngModel)]="buscar" name="buscar">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let pelicula of peliculas.peliculas">
        <img [src]="pelicula | peliculaImagen" class="card-img-top" [alt]="pelicula.original_title">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.original_title}}</h5>
          <p class="card-text text-justify">{{ pelicula.overview | slice:0:250 }}...</p>
          <button class="btn btn-outline-primary btn-block"
                  [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]"
                  >Ver más...</button>
        </div>
      </div>
    </div>





  </div>
